<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration SYSTEM "log4j.dtd">

<configuration xmlns="http://logging.apache.org/" debug="true">
	
	
	<appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern"
                   value="[start-of-log]%d [%t] - [%5p] %c.%M(%L) [message]:%m [stack-trace]:%n"/>
        </layout>
    </appender>
    
    
    
    
    <appender name="ALL" class="org.apache.log4j.RollingFileAppender">
            <param name="File" value="/tmp/analyzer/all.log"/>               
            <param name="MaxFileSize" value="2000KB"/>
            <param name="MaxBackupIndex" value="20"/>
            <layout class="org.apache.log4j.PatternLayout">
                <param name="ConversionPattern"
                    value="[start-of-log]%d [%t] - [%5p] %c.%M(%L) [message]:%m [stack-trace]:%n"/>
            </layout>
    </appender>
    
  
    
  
	 
    
    
	 
	<logger name="org.hibernate">
        <level value="ERROR"/>
        <appender-ref ref="CONSOLE"/>
    </logger>
    
 	<logger name="org.hibernate.type">
        <level value="TRACE"/>
        <appender-ref ref="CONSOLE"/>
    </logger>
	<root>
		<level value="TRACE" />
		<appender-ref ref="CONSOLE" />
		<appender-ref ref="ALL"/>
	</root>
</configuration>
